<div class="container">
  <h2>Speed-O</h2>
  <p>Know your typing speed</p>
  <hr>
  <button class="btn btn-success m-2 mr-4" (click)="startTyping($event)">Start</button>
  <button class="btn btn-warning m-2 mr-4" (click)="refresh($event)">Reset</button>
  <span id="time">{{timestr}}</span>
  <span id="wpm" class="blink_me" #wpm>Start test</span>
  <br>
  <p><strong>Note:</strong> Once you have started typing you can not use backslash to undo, after cliking reset you will not be able to see typing speed.
  <i>You will not able to see any changes in showed data so keep typing and at the end of 1 minute your typing speed will be displayed.</i></p>
  <div class="data">
    <div class="box" #typebox>
    </div>
    <div class="result">
      Correct: <span  style="color: green;">{{correct}}</span>
      <hr>
      InCorrect: <span  style="color: red;">{{incorrect}}</span>
      <hr>
      Speed: <span>{{speedwpm}}</span>
    </div>
  </div>
</div>